body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #008484;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taskbar {
    height: 28px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #C3C7CB;
    border-top: 1px solid #FFFFFF;
    outline: 1px solid #C3C7CB;
}

.taskbar-click-area {
    height: 28px;
    width: 88%;
    position: absolute;
    bottom: 0;
    margin-left: 6%;
}

.start-button {
    display: inline-block;
    background-color: #C3C7CB;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #6D6D6D;
    border-right: 2px solid #6D6D6D;
    width: 54px;
    height: 19px;
    margin: 2px;
}

.start-button-icon {
    width: 46px;
    margin-left: 4px;
    margin-top: 2px;
}

.system-tray {
    display: absolute;
    background-color: #C3C7CB;
    border-top: 1px solid #868A8E;
    border-left: 1px solid #868A8E;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 54px;
    height: 19px;
    margin-top: 3px;
    margin-right: 5px;
    float: right;
}

.desktop {
    width: 100%;
    height: 100%;
}

.desktop-click-area {
    width: 100%;
    height: 90%;
}

.folder-wrap {
    width: 60px;
    position: absolute;
    top: 20px;
    left: 11px;
    z-index: 0;
}

.folder-wrap:hover {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: hand;
}

.folder {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.folder:hover {
    color: rgb(189, 189, 189);
}

.folder-icon {
    margin-bottom: 6px;
}

.trash-wrap {
    width: 60px;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 0;
}

.trash-wrap:hover {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: hand;
}

.trash {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.trash:hover {
    color: rgb(189, 189, 189);
}

.trash-icon {
    margin-bottom: 6px;
}

.startmenu-wrap {
    visibility: hidden;
    display:flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    bottom: 30px;
    position: absolute;
}

.startmenu {
    display:flex;
    flex-direction: column;
    position: absolute;
    background-color: #C0C0C0;
    width: 100%;
    height: 100%;
    border-right:2px solid #112122;
    border-bottom:2px solid #112122;
    border-left:2px solid #EEF0EA;
    border-top:2px solid #EEF0EA;
}

.menulogo {
    background-color: #808080;
    height: 100%;
    width: 21%;
    margin-left: 1%;
    margin-top: 1%;
    position: absolute;
    z-index: 1;
}

.menuitem {
    background-color: #C0C0C0;
    height: 17%;
    width: 80%;
    margin-left: 20%;

}

.menuitem:hover {
    background-color: #00207D;
}

/* clock stuff */

.clock {
    position: absolute;
    font-size: 13px;
    top:5px;
    left:97.8%;
}

.clock-popup {
    visibility: hidden;
    background-color: #F6F5D8;
    position: absolute;
    bottom: 25px;
    right: 2px;
    border: 1px solid #000;
    font-size: 12px;
    text-align: center;
}

.clock-hoverable {
    height: 23px;
    width: 60px;
    position: absolute;
}

/* windows */

.window-wrap {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 35%;
    bottom: 40%;
    left: 20%;
}

.window-background {
    background-color: #C3C7CB;
    height: 100%;
    width: 100%;
    border-right:2px solid #112122;
    border-bottom:2px solid #112122;
    border-left:2px solid #EEF0EA;
    border-top:2px solid #EEF0EA;
}

.window-background-wrapper {
    position: relative;
}

.window-background-wrapper::after {
    pointer-events: none;
    content: "↓";
    font-size: 14px;
    position: absolute;
    height: 22px;
    width: 20px;
    text-align: center;
    bottom: 2px;
    right: -2px;
    background-color: #efefef;
    color: #777;
}

.window-titlebar {
    display:flex;
    flex-direction: row;
    background-color: #00207D;
    width: 99%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    height: 18px;
}

.window-titlebar-icon {
    margin-top: 1px;
    margin-left: 1px;
    height: 16px;
    width: 16px;
    position: absolute;
    background-color: #C3C7CB;
}

.window-titlebar-text {
    color: #FFF;
    width: 85%;
    margin-left: 20px;
    margin-top: 1px; 
    margin-right: 3%;
    font-size: 12px;
    font-weight: 900;
}

.window-titlebar-button {
    margin-top: 2px;
    margin-right: 1px;
    height: 12px;
    width: 14px;
    background-color: #C3C7CB;
    border-right:1px solid #112122;
    border-bottom:1px solid #112122;
    border-left:1px solid #EEF0EA;
    border-top:1px solid #EEF0EA;
    
}

.window-titlebar-button:active{
    margin-top: 2px;
    margin-right: 1px;
    height: 12px;
    width: 14px;
    background-color: #C3C7CB;
    border-right:1px solid #EEF0EA;
    border-bottom:1px solid #EEF0EA;
    border-left:1px solid #112122;
    border-top:1px solid #112122;

}


.window-titlebar-minimise {
    width: 6px;
    height: 3px;
    background-color: #000;
    margin-left: 3px; 
    margin-top: 8px;
}

.window-titlebar-maximise {
    width: 7px;
    height: 6px;
    background-color: #C3C7CB;
    border-left:1px solid #000;
    border-top:3px solid #000;
    border-right:1px solid #000;
    border-bottom:2px solid #000;
    margin-left: 2px; 
    margin-top: 0px;
}


.window-titlebar-close {
    margin-left:3px;
    margin-top: 3px;
    width: 7px;
    height: 7px;
    background-color: #000;
}




.window-titlebar-spacer {
    width: 2px;
    height: 0px;

}

.window-toolbar {
    background-color: #C3C7CB;
    display: flex;
    flex-direction: row;
    height: 16px;
    width: 98.5%;
    margin-left: 0.5%;
}

.window-toolbar-button {
    height: 100%;
    font-size: 12px;
    margin-right: 1%;
}

.window-main {
    height: 85%;
    width: 98.5%;
    margin-left: 0.5%;
    background-color: #FFF;
    border-left:1px solid #112122;
    border-top:1px solid #112122;
    border-right:1px solid #EEF0EA;
    border-bottom:1px solid #EEF0EA;
}

.window-bottombar-wrap {
    display: flex;
    flex-direction: row;
    width: 99%;
    margin-top: 3px;
    margin-left: 1.5px;
}

.window-bottombar {
    border-left:1px solid #868A8E;
    border-top:1px solid #868A8E;
    border-right:1px solid #FFF;
    border-bottom:1px solid #FFF;
    height: 11px;
    width: 50%;
}

.taskbar-window {
    background-color: #C3C7CB;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #6D6D6D;
    border-right: 2px solid #6D6D6D;
    width: 160px;
    height: 19px;
    position: absolute;
    left: 62px;
    bottom: 4px;
}



.taskbar-window-icon {
    width: 19px;
    height: 19px;
    position: absolute;
    background-color: red;
    left:3px;
}

.taskbar-window-text {
    position: absolute;
    font-size: 12px;
    height: 19px;
    top:2px;
    left:25px;
}


