body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: #008484;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.startup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    position: absolute;
}

.startup-text {
    width: 100%;
    height: 2%;
    color: #F6CBCA;
    visibility: hidden;
}

.taskbar {
    display:flex;
    flex-direction: row;
    height: 28px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #C3C7CB;
    border-top: 1px solid #FFFFFF;
    outline: 1px solid #C3C7CB;
}

.taskbar-click-area {
    order:5;
    height: 28px;
    flex-grow: 100;
}

.start-button {
    display: inline-block;
    background-color: #C3C7CB;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 2px solid #6D6D6D;
    border-right: 2px solid #6D6D6D;
    width: 54px;
    height: 19px;
    margin: 2px;
}

.start-button-icon {
    width: 46px;
    margin-left: 4px;
    margin-top: 2px;
}

.system-tray {
    order: 6;
    background-color: #C3C7CB;
    border-top: 1px solid #868A8E;
    border-left: 1px solid #868A8E;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    width: 54px;
    height: 19px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: auto;
}

.desktop {
    width: 100%;
    height: 100%;
}

.desktop-click-area {
    width: 100%;
    height: 90%;
}

.folder-wrap {
    width: 60px;
    position: absolute;
    top: 20px;
    left: 11px;
    z-index: 0;
}

.folder-wrap:hover {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: hand;
}

.folder {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.folder:hover {
    color: rgb(189, 189, 189);
}

.folder-icon {
    margin-bottom: 6px;
}

.trash-wrap {
    width: 60px;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 0;
}

.trash-wrap:hover {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: hand;
}

.trash {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.trash:hover {
    color: rgb(189, 189, 189);
}

.trash-icon {
    margin-bottom: 6px;
}

.startmenu-wrap {
    visibility: hidden;
    display:flex;
    flex-direction: row;
    width: 200px;
    height: 300px;
    bottom: 30px;
    position: absolute;
}

.startmenu {
    display:flex;
    flex-direction: column;
    position: absolute;
    background-color: #C0C0C0;
    width: 100%;
    height: 100%;
    border-right:2px solid #6D6D6D;
    border-bottom:2px solid #6D6D6D;
    border-left:2px solid #EEF0EA;
    border-top:2px solid #EEF0EA;
}

.menulogo {
    background-color: #808080;
    height: 100%;
    width: 21%;
    margin-left: 1%;
    margin-top: 1%;
    position: absolute;
    z-index: 1;
}

.menuitem {
    background-color: #C0C0C0;
    height: 17%;
    width: 80%;
    margin-left: 20%;
    color: #000;
}

.menuitem-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left:12px;
    margin-top: 10px;
}

.menuitem-text {
    position: absolute;
    font-size: 14px;
    margin-left:50px;
    margin-top: 16px;
}

.menuitem:hover {
    background-color: #00207D;
    color: #FFF;
}

/* clock stuff */

.clock {
    font-size: 13px;
    top:5px;
    left:97.8%;
}

.clock-popup {
    visibility: hidden;
    background-color: #F6F5D8;
    position: absolute;
    bottom: 25px;
    right: 2px;
    border: 1px solid #000;
    font-size: 12px;
    text-align: center;
}

.clock-hoverable {
    height: 23px;
    width: 60px;
    position: absolute;
}

/* windows */



.window-wrap {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 30vw;
    top: 30px;
    left: 190px;
    z-index: 1;
}

.window-resize-handle {
    background:url("././images/image.svg")no-repeat 99.9% 100%;
    width: 15px;
    height: 15px;
    float: right;
    cursor: nw-resize;
}


.window-background {
    display:flex;
    flex-direction: column;
    background-color: #C3C7CB;
    height: 100%;
    width: 100%;
    border-right:2px solid #112122;
    border-bottom:2px solid #112122;
    border-left:2px solid #EEF0EA;
    border-top:2px solid #EEF0EA;
}

.window-background-wrapper {
    position: relative;
}

.window-background-wrapper::after {
    pointer-events: none;
    content: "↓";
    font-size: 14px;
    position: absolute;
    height: 22px;
    width: 20px;
    text-align: center;
    bottom: 2px;
    right: -2px;
    background-color: #efefef;
    color: #777;
}

.window-titlebar {
    display:flex;
    flex-direction: row;
    background-color: #00207D;
    width: 99.5%;
    margin-left: 2px;
    margin-top: 2px;
    height: 18px;
}

.window-titlebar-icon {
    margin-top:1px;
    margin-left:2px;
    height: 16px;
    width: 16px;
}

.window-titlebar-text {
    flex-grow: 100;
    color: #FFF;
    margin-left: 5px;
    margin-top: 1px; 
    font-size: 12px;
    font-weight: 900;
}

.window-titlebar-button {
    margin-top: 2px;
    margin-right: 1px;
    height: 12px;
    width: 14px;
    background-color: #C3C7CB;
    border-right:2px solid #112122;
    border-bottom:2px solid #112122;
    border-left:1px solid #EEF0EA;
    border-top:1px solid #EEF0EA;
}

.window-titlebar-button:active{
    margin-top: 2px;
    margin-right: 1px;
    height: 12px;
    width: 14px;
    background-color: #C3C7CB;
    border-right:1px solid #EEF0EA;
    border-bottom:1px solid #EEF0EA;
    border-left:2px solid #112122;
    border-top:2px solid #112122;
}

.window-titlebar-minimise {
    background:url("././images/minimise.svg");
    margin-top: 9px;
    margin-left: 2px;
    width: 10px;
    height: 2px;
}

.window-titlebar-maximise {
    background:url("././images/maximise.svg");
    width: 10px;
    height: 11px;
    margin-left: 2px;

}

.window-titlebar-close {
    background:url("././images/x.svg")no-repeat;
    width: 12px;
    height: 14px;
    margin-left: 3px;
    margin-top: 3px;
}

.window-titlebar-spacer {
    width: 2px;
    height: 0px;
}

.window-toolbar {
    background-color: #C3C7CB;
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 98.5%;
    margin-left: 2px;
}

.window-toolbar-button {
    margin-left: 2px;
    margin-top:2px;
    height: 100%;
    font-size: 12px;
    margin-right: 3px;
}

.window-main {
    display:flex;
    flex-direction: row;
    width: 99.3%;
    margin-left: 2px;
    background-color: #FFF;
    border-left:2px solid #434547;
    border-top:2px solid #434547;
    border-right:1px solid #E1E3E5;
    border-bottom:1px solid #E1E3E5;
    flex-grow: 100;
}

.window-bottombar-wrap {
    display: flex;
    flex-direction: row;
    width: 99.5%;
    margin-top: 3px;
    margin-left: 1.5px;
    margin-bottom: 1px;
}

.window-bottombar-left {
    font-size: 12px;
    flex-grow: 50;
    margin-bottom:1px;
    border-left:1px solid #868A8E;
    border-top:1px solid #868A8E;
    border-right:1px solid #FFF;
    border-bottom:1px solid #FFF;
    height: 15px;
}


.window-bottombar-right {
    flex-grow: 50;
    margin-bottom:1px;
    border-left:1px solid #868A8E;
    border-top:1px solid #868A8E;
    border-right:1px solid #FFF;
    border-bottom:1px solid #FFF;
    height: 15px;
}


.window-bottombar-spacer {
    width:2px;
    height: 15px;
}

.taskbar-window {
    display: none;
    margin-top: 2px;
    flex-direction: row;
    background-color: #C3C7CB;
    width: 160px;
    height: 19px;
    margin-right: 2px;

}

.taskbar-window-icon {
    margin-top: 1px;
    margin-left: 2px;
    width: 19px;
    height: 19px;
}

.taskbar-window-text {
    margin-top: 2px;
    font-size: 12px;
    height: 19px;
    top:2px;
    left:25px;
}


.window-files-normal-wrapper {
    margin-top: 4px;
    margin-left: 16px;
    height: 20px;
    width: 60px;
}

.window-files-normal-wrapper:active {
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: hand;
}

.window-files-normal-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.window-files-normal-text {
    margin-left: -20%;
    width: 100%;
    height: 10%;
    font-size: 10px;
    text-align: center;
}